name: 'Chromatic'
# The event that will trigger the action
on: push
jobs:
  test:
    # The operating system it will run on
    runs-on: ubuntu-latest
    # The list of steps that the action will go through
    steps:
      - uses: actions/checkout@v1
      - run: yarn
+     - run: yarn test # Adds the test command
      - uses: chromaui/action@v1
        with:
          projectToken: project-token
          token: ${{ secrets.GITHUB_TOKEN }}